
#app {
  padding: 48px 16px;
  text-align: center;
  color: #fff;
  background: #2980b9;
}

.field label {
  display: block;
  margin: 0 auto;
  padding-bottom: 4px;
  width: 90%;
  max-width: 1000px;
  font-size: 14px;
  text-align: left;
}

#actions {
  margin: 8px 0;
}

#actions svg[role=button] {
  margin: 0 32px;
  width: 32px;
  height: 32px;
  font-size: 14px;
}
#actions svg[role=button] path {
  fill: #fff;
}

textarea {
  margin: 0 auto;
  border: 1px solid #666;
  border-radius: 8px 0 0 8px;
  width: 90%;
  max-width: 1000px;
  padding: 6px 8px;
  color: #333;
  background: #fff;
}

#rison-input {
  height: 100px;
}

#json-input {
  height: 250px;
}
