
main {
  margin: 2em auto;
  max-width: 1000px;
}

h2, h3 {
  margin: 2em auto 1em;
}

p {
  margin: 1em auto;
}

#rison-input {
  height: 100px;
}

#json-input {
  height: 250px;
}

#dfns {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#json-dfn, #rison-dfn {
  margin: 1em;
  border: 2px solid #666;
  padding: 1em;
}

#dfns h4 {
  position: sticky;
  top: -1px;
  margin-bottom: 4px;
  border-bottom: 1px solid gray;
  padding: 1px 0 4px;
  width: 100%;
  background: #fff;
}

dd {
  margin-left: 40px;
}
