<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Rison Playground</title>
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    <header>
      <h1>[WIP] Rison Playground</h1>
    </header>
    <div id="app" role="application">
      <div class="field">
        <label for="rison-input">Rison data</label>
        <textarea id="rison-input" v-model="rison_string">{{ rison_string }}</textarea>
        <label>
          <input type="checkbox" id="kibana-url" v-model="kibana" /> Kibana URL
        </label>
      </div>
      <div id="actions">
        <svg id="rison-to-json" role="button" viewBox="0 0 512 512" v-on:click="rison_to_json" aria-label="Rison to JSON"><path d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-143.6-28.9L288 302.6V120c0-13.3-10.7-24-24-24h-16c-13.3 0-24 10.7-24 24v182.6l-72.4-75.5c-9.3-9.7-24.8-9.9-34.3-.4l-10.9 11c-9.4 9.4-9.4 24.6 0 33.9L239 404.3c9.4 9.4 24.6 9.4 33.9 0l132.7-132.7c9.4-9.4 9.4-24.6 0-33.9l-10.9-11c-9.5-9.5-25-9.3-34.3.4z"/></svg>
        <svg id="json-to-rison" role="button" viewBox="0 0 512 512" v-on:click="json_to_rison" aria-label="JSON to Rison"><path d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm143.6 28.9l72.4-75.5V392c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V209.4l72.4 75.5c9.3 9.7 24.8 9.9 34.3.4l10.9-11c9.4-9.4 9.4-24.6 0-33.9L273 107.7c-9.4-9.4-24.6-9.4-33.9 0L106.3 240.4c-9.4 9.4-9.4 24.6 0 33.9l10.9 11c9.6 9.5 25.1 9.3 34.4-.4z"/></svg>
      </div>
      <div class="field">
        <label for="json-input">JSON data</label>
        <textarea id="json-input" v-model="json_string">{{ json_string }}</textarea>
      </div>
    </div>
    <main>
      
    </main>
    <footer>
      
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/scripts/rison.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
